* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #434343 0%, #242424 50%, #000000 100%);
}

.container {

    width: 400px;
    margin: 60px auto;
    padding: 10px;
}

.inputs {
    width: 400PX;
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
    border: groove;
    border-color: #000000;
    /* border-radius: 20px; */
}

.inputs input[type="text"] {
    font-variant: small-caps;
    height: 3rem;
    width: 20rem;
    background: #000000;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 4px;
}

.inputs input[type="submit"] {
    height: 3rem;
    width: 6rem;
    background: linear-gradient(#4d9f0c,
            #036c00,
            #003b00,
            #000000);
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: groove;
    border-color: #000000;
    border-radius: 20px;
}

.display {
    text-align: center;
    height: 400px;
    width: 400px;
    color: #ffffff;

}

.wrapper {
    margin: 0 9rem;
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    border: groove;
    border-color: #000000;
    /* border-radius: 20px; */
}

.wrapper h2, .wrapper p {
    height: 50px;
    padding: 5px 0;
    text-align: center;
    background: linear-gradient(#6dd01c,
            #1b7a18,
            #194919,
            #000000);
    color: white;
    font-family: sans-serif;
    border: groove;
    border-color: #000000;
   
}
.wrapper h2 span {
    font-size: 110%;
    color: #ffffff;
}

.wrapper p span {
    color: #003b00;
    font-size: 110%;
    color: #ffffff;
}